@import
  "abstracts/variables",
  "abstracts/mixins";

@import
  "base/normalize",
  "base/tools",
  "base/utilities";

@import
  "components/buttons";

@import
  "layout/header",
  "layout/navigation",
  "layout/footer";

/* MAIN
   ========================================================================== */

.home {
  li {
    background-color: $self-signal;
    border: 2px solid $color1;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0.5em 0;

    a {
      display: block;
      padding: 1em;

      &:hover {
        color: $color1;
      }
    }
  }
}