{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section class="home">
        <ul>
            {% for ilot in ilots %}
                <li>
                    <a href="{{ path('ilot_detail', { 'nomAX' : ilot.nomAX }) }}" title="Nom d'ilot">{{ ilot.nomIRL }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
