{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section class="home">
        <ul>
            {% for ilot in ilots %}
                <li>
                    <a href="{{ path('badgeage_view', { 'nomURL' : ilot.nomURL }) }}"
                       title="Ilôt {{ ilot.nomIRL }}">{{ ilot.nomIRL }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
