/* Couleurs */

$color1: #000;
$color2: #fff;
$color3: #333;
$color4: #e6e6e6;
$color5: #62ac62;
$color6: #6093ac;

$color-success: #0f5132;
$color-success-bg: #d1e7dd;
$color-success-border: #badbcc;

$color-self-signal: #fdd15e;

$breakpoint: 387px;