* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color4;
  font-family: 'Cairo', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}