h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: $color2;
  font-size: 2rem;
  padding: 1em 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color1;
}