.login {
  max-width: 30em;
  margin: auto;

  div {
    &.login-item {
      background-color: $color-self-signal;
      border: 2px solid $color1;
      border-radius: 0.5em;
      width: 100%;
      margin: 0.5em 0;
      padding: 0.5em;

      h2 {
        color: $color1;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}