.printer {
  #close {
    cursor: pointer;
    text-align: right;
  }

  .pop-up,
  .printer-info {
    background-color: $color2;
    border: 2px solid $color1;
    border-radius: 0.5em;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
  }

  .pop-up {
    div {
      display: flex;
      flex-direction: column;
      text-align: center;

      #info {
        font-size: 1.6em;
      }

      p {
        margin: 0.5em 0 0 0;
      }
    }
  }

  .printer-item {
    .form {
      .form-input {
        display: flex;
        justify-content: space-between;
        place-items: baseline;

        div {
          width: 100%;
        }

        i {
          margin-left: 0.5em;
          cursor: pointer;
        }
      }
    }

    .printer-info {
      display: flex;
      place-items: baseline;
      font-size: 1.6rem;

      div {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;

        .isActive {
          color: $color5;
        }
      }
    }
  }
}