<nav class="navbar">
    <div>
        <button id="navbar" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" data-target="#offcanvasNavbar">
            <i class="btn-open fa-solid fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-target="#offcanvasNavbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="home nav-link active" aria-current="page" href="{{ path('main_home') }}"
                           title="Page d'accueil">Accueil</a>
                    </li>
                    {# TODO => active #}
                    <li class="nav-item">
                        {% if app.user %}
                            <a class="settings nav-link" href="{{ path('admin_settings') }}"
                               title="Page paramètres">Paramètres</a>
                            <a class="logout nav-link" href="{{ path('app_logout') }}"
                               title="Se déconnecter de l'espace admin">Déconnexion</a>
                        {% else %}
                            <a class="login nav-link" href="{{ path('app_login') }}"
                               title="Se connecter à l'espace admin">Se connecter</a>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>