.alert {
  font-size: 1.6rem;
}

.alert-custom {
  background-color: $color5;
  border-color: $color5;
  color: $color2;
  cursor: pointer;
  padding: 0;

  a {
    display: block;
    color: $color2;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);

    &:hover {
      color: $color2;
    }

    &::before {
      @include font-awesome(bold, "\f073");
      margin-right: 0.5em;
    }
  }
}