.alert {
  font-size: 1.6rem;
  margin: 0.5em 0;
}

.alert-success {
  &::before {
    @include font-awesome(bold, "\f058");
    margin-right: 0.25em;
  }
}

.alert-danger {
  &::before {
    @include font-awesome(bold, "\f057");
    margin-right: 0.25em;
  }
}

.alert-warning {
  &::before {
    @include font-awesome(bold, "\f071");
    margin-right: 0.25em;
  }
}

.alert-primary {
  &::before {
    @include font-awesome(bold, "\f05a");
    margin-right: 0.25em;
  }
}

.alert-custom {
  background-color: $color5;
  border-color: $color5;
  color: $color2;
  cursor: pointer;
  padding: 0;

  a {
    display: block;
    color: $color2;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);

    &:hover {
      color: $color2;
    }

    &::before {
      @include font-awesome(bold, "\f073");
      margin-right: 0.5em;
    }
  }
}

.alert-msg,
.msg {
  display: flex;
}

.alert-msg {
  background-color: $color-success-bg;
  border-color: $color-success-border;
  color: $color-success;

  &::before {
    @include font-awesome(bold, "\f058");
    margin-right: 0.5em;
  }

  .msg {
    flex-direction: column;
  }
}