.form {
  background-color: $color-self-signal;
  border: 2px solid $color1;
  border-radius: 0.5em;
  text-align: center;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.25em;

  @media screen and (min-width: $sm) {
    padding: 0.5em;
  }

  label {
    font-size: 1.6rem;
    font-weight: bold;
  }

  div {
    &.mb-3 {
      margin-bottom: 0 !important;
    }
  }

  input {
    @include input;
  }

  .invalid-feedback {
    text-align: justify;
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }
}

.photo,
.login,
.ilots,
.printers,
.profile {
  .form {
    padding: 0.25em;

    @media screen and (min-width: $sm) {
      padding: 0.5em;
    }

    button {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase;
      border: 2px solid $color2;
      border-radius: 0.5em;
      width: 100%;
      margin-top: 0.5em;
      padding: 1em;

      &:hover {
        background-color: $color2;
        border-color: $color1;
        color: $color1;
      }
    }
  }
}

.login,
.ilots,
.printers,
.profile {
  .form {
    text-align: left;

    input {
      margin-bottom: 0.5em;
    }
  }
}

.ilots,
.printers,
.profile {
  div {
    &#ilot,
    &#printer {
      &:last-child {
        div {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  select {
    font-size: 1.6rem;
    border: 2px solid $color1;
    margin-bottom: 0.5em;
  }
}

.login {
  .form {
    button {
      &::before {
        @include font-awesome(bold, "\f090");
        margin-right: 0.5em;
      }
    }
  }
}

.profile {
  .form {
    select {
      height: 5em;
    }
  }
}

#user {
  div {
    #user_password_first_help {
      text-align: justify;
      font-size: 1.4rem;

      &.mb-0 {
        margin-bottom: 0.5em !important;
      }
    }

    input {
      &#user_password_second {
        display: none;
      }
    }
  }
}