.form {
  background-color: $color-self-signal;
  border: 2px solid $color1;
  border-radius: 0.5em;
  text-align: center;
  width: 100%;
  margin: 0.5em 0;
  padding: 0 0.5em;

  label {
    font-size: 1.6rem;
    font-weight: bold;
  }

  input {
    @include input;
  }
}

.login {
  .form {
    padding: 0.25em;
    text-align: left;

    @media screen and (min-width: $sm) {
      padding: 0.5em;
    }

    input {
      margin-bottom: 0.5em;
    }
  }
}