.form {
  background-color: $color-self-signal;
  border: 2px solid $color1;
  border-radius: 0.5em;
  text-align: center;
  width: 100%;
  margin: 0.5em 0;
  padding: 0 0.5em;

  label {
    font-size: 1.6rem;
    font-weight: bold;
  }

  input {
    @include input;
  }
}

.login,
.ilots,
.printers {
  .form {
    padding: 0.25em;
    text-align: left;

    @media screen and (min-width: $sm) {
      padding: 0.5em;
    }

    input {
      margin-bottom: 0.5em;
    }
  }
}

.ilots,
.printers {
  div {
    &#ilot,
    &#printer {
      &:last-child {
        div {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  select {
    font-size: 1.6rem;
    border: 2px solid $color1;
    margin-bottom: 0.5em;
  }

  button {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid $color2;
    border-radius: 0.5em;
    width: 100%;
    margin-top: 0.5em;
    padding: 1em;

    &:hover {
      background-color: $color2;
      border-color: $color1;
      color: $color1;
    }
  }
}