.table {
  border: 2px solid $color1;
  font-size: 1.6rem;

  tr {
    td {
      button {
        background-color: $color-self-signal;
        border: 2px solid $color1;
        border-radius: 0.5em;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0.5em 0;
        padding: 1em 0.5em;

        &::before {
          @include font-awesome(bold, "\f2ed");
          margin-right: 0.5em;
        }

        &:hover {
          background-color: $color2;
        }
      }
    }
  }
}

.delete-badgeage {
  table {
    tr {
      th {
        text-align: right;
      }

      td {
        text-align: left;
      }
    }
  }
}

.historique-ilot {
  table {
    th,
    td {
      width: 50%;
    }

    td {
      &.numOF {
        vertical-align: middle;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}