footer {
  background-color: $color1;
  border-top: 4px solid $color-self-signal;

  @media screen and (min-width: $sm) {
    margin-top: 2em;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    &.container {
      color: $color2;
      text-align: center;
      font-size: 1.2rem;
      padding: 0.5em;
      flex: 1;

      @media screen and (min-width: $sm) {
        padding: 1em;
      }

      p {
        margin: 0.5em;

        img {
          width: 5em;
        }
      }
    }
  }
}