footer {
  flex: 1;

  div {
    &.container {
      background-color: $color2;
      color: $color1;
      text-align: center;
      font-size: 1.2rem;
      padding: 1em;

      p {
        margin: 0;
      }
    }
  }
}