header {
  background-color: $color1;
  border-bottom: 4px solid $self-signal;

  div {
    &.container {
      display: flex;
      justify-content: space-between;
    }
  }

  h1 {
    a {
      color: $color2;

      &:hover {
        color: $color2;
      }
    }
  }
}