header {
  div {
    &.container {
      background-color: $color1;
      border: 2px solid $self-signal;
      border-radius: 0.5em;
      padding: 0;
    }

    h1 {
      a {
        color: $color2;

        &:hover {
          color: $color2;
        }
      }
    }

    &.container {
      display: flex;
      justify-content: space-between;
    }
  }
}