main {
  flex: 1;

  .home,
  .paint,
  .options {
    li {
      a {
        @include boutons-ilots;
        display: block;
        padding: 1em;

        &:hover {
          background-color: $color1;
          border-color: $color-self-signal;
          color: $color2;
        }
      }
    }
  }
}