nav {
  div:nth-child(1) {
    border: none;

    button {
      &.navbar-toggler {
        border: none;
        padding: 0;

        &:focus {
          box-shadow: none;
        }
      }

      i {
        color: $color2;
        font-size: 2rem;
        border: 2px solid $self-signal;
        border-radius: 0.35em;
        padding: 0.5em 0.6em;
      }
    }
  }
}