nav {
  div:nth-child(1) {
    border: none;

    button {
      &.navbar-toggler {
        border: none;
        padding: 0;

        &:focus {
          box-shadow: none;
        }
      }

      i {
        color: $color2;
        font-size: 2rem;
        border: 2px solid $color3;
        border-radius: 0.35em;
        padding: 0.5em 0.6em;
      }
    }
  }

  h5 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    &.navbar-nav {
      padding: 0 !important;
    }

    li {
      a {
        padding: 0.5em 0 !important;
      }

      hr {
        margin: 0;
      }
    }
  }

  .home,
  .nav-admin,
  .login,
  .profile,
  .settings,
  .logout {
    &::before {
      margin-right: 0.5em;
    }
  }

  .home {
    &::before {
      @include font-awesome(bold, "\f015");
    }
  }

  .nav-admin {
    &::before {
      @include font-awesome(bold, "\e1b0");
    }
  }

  .login {
    &::before {
      @include font-awesome(bold, "\f2f6");
    }
  }

  .profile {
    &::before {
      @include font-awesome(bold, "\f007");
    }
  }

  .settings {
    &::before {
      @include font-awesome(bold, "\f013");
    }
  }

  .logout {
    &::before {
      @include font-awesome(bold, "\f2f5");
    }
  }
}