{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block titre %}
    {% if user.userIdentifier is same as(app.user.userIdentifier) %}
        <h1>Modifier mon profil</h1>
    {% else %}
        <h1>Modifier profil #{{ user.id }}</h1>
    {% endif %}
{% endblock %}

{% block body %}
    <section class="admin profile">
        <div class="form">
            {% include('_form.html.twig') %}
        </div>
        <div class="boutons">
            <div class="item-1">
                <a class="prev item-btn-1 bouton" id="btn_retour" href="{{ path }}"
                   role="button"
                   title="Page précédente"><span>Précédent</span></a>
                <a class="nav-admin item-btn-2 bouton" href="{{ path('admin_index') }}"
                   title="Page admin"><span>Admin</span></a>
            </div>
        </div>
    </section>
{% endblock %}
